export FOUNDRY_ENABLED=false
export MAINNET_PK_DEPLOYER='63dde6bfd3291a1904650c51636f8dc5a33c13a593cdd80f1c9c947eea7d7c75'
export TESTNET_PK_DEPLOYER='81a3043b0d09bef1a62a755f8368855ccbd8e29f72336c47351f77641304dc10'

# export FORK_BLOCK_NUMBER='15269900'
export FORK_BLOCK_NUMBER='15270065'
export ARCHIVE_NODE_RPC_URL='https://eth-mainnet.g.alchemy.com/v2/5oRK-2Gt3A6sKHfISqsC15ozeRyyXjU5'
export ETHEREUM_MAINNET_RPC_URL='https://eth-mainnet.g.alchemy.com/v2/5oRK-2Gt3A6sKHfISqsC15ozeRyyXjU5'
export ETHEREUM_GOERLI_RPC_URL='https://eth-goerli.g.alchemy.com/v2/l9iGbOWXMYliJGzQiI74svyBy7YZ4_gF'
export ETHERSCAN_API_KEY='ITNV7339K6EISWMN9PHIY83UZR9UFNBWPI'

export POLYGONSCAN_API_KEY=''
export HIDE_DEPLOY_LOG=''
export REPORT_GAS=''
export COINMARKETCAP_API_KEY=''