export FOUNDRY_ENABLED=false
export MAINNET_PK_DEPLOYER=''
export TESTNET_PK_DEPLOYER=''

export FORK_BLOCK_NUMBER='15270065'
export ARCHIVE_NODE_RPC_URL='https://eth-mainnet.g.alchemy.com/v2/5oRK-2Gt3A6sKHfISqsC15ozeRyyXjU5'
export ETHEREUM_MAINNET_RPC_URL='https://eth-mainnet.g.alchemy.com/v2/5oRK-2Gt3A6sKHfISqsC15ozeRyyXjU5'
export ETHEREUM_GOERLI_RPC_URL='https://eth-goerli.g.alchemy.com/v2/l9iGbOWXMYliJGzQiI74svyBy7YZ4_gF'
export ETHERSCAN_API_KEY='ITNV7339K6EISWMN9PHIY83UZR9UFNBWPI'

export POLYGONSCAN_API_KEY=''
export HIDE_DEPLOY_LOG=''
export REPORT_GAS=''
export COINMARKETCAP_API_KEY=''